// Add any custom Sass & CSS here
html, body {
	font-family: $body-sans;
	line-height: 150%;
	color: $white;
	background-color: $black;
	text-align: center;
	font-weight: 300;
}

p {
	font-size: 1.15em;
}

h1, h3 {
	letter-spacing: 2px;
	text-transform: uppercase;
}

.highlight {
	color: $highlight;
}

.transparent {
	background-color: rgba(0,0,0,0.7);
	position: absolute;
	width: 100%;
	height: 100vh;
}

.sticky {
	z-index: 2;
}

.title {
	text-transform: uppercase;
	letter-spacing: 2px;
	margin-bottom: 60px;
}

.white {
	background-color: $white;
	color: $black;
	width: 100%;
}

#site-container {
	overflow-x: hidden;
}

.nav-container {
	position: fixed;
	width: 100%;
	z-index: 2;

	nav, .title-bar {
		font-family: $title-sans;
		font-weight: bold;
		letter-spacing: 2px;
		text-transform: uppercase;
		@include transition;

		.active {
			color: $highlight;
		}

		&.page-end a {
			color: $white;
			&#nav-last {
				color: $highlight;
			}
		}

		a {
			text-align: center;
			color: $white;
			&:hover {
				color: $highlight !important;
			}
		}

		&.large {
			font-size: 1.175em;
			padding-top: 10px;
			padding-bottom: 10px;
			@include transition;
		}
	}
}

#hero {
	background-image: url("../data/computer.jpg");
	background-size: cover;
	background-position-x: center;
	background-attachment: fixed;

	height: 100vh;
	width: 100%;
	//From http://foundation.zurb.com/forum/posts/132-full-width-row
	margin-left: auto;
	margin-right: auto;
	max-width: initial;

	color: $white;

	.hero-text {
		@include vert-center;
		text-align: center;
		h1 {
			text-transform: uppercase;
		}
		h3 {
			text-transform: none;
		}
	}
}


#about {
	padding-bottom: $section-spacing-large;
	.info {
		padding-left: 30px;
		padding-right: 30px;
		margin-top: $section-spacing-large;

		h3 {
			color: $highlight;
			letter-spacing: 2px;
		}

		p {
			text-align: center;
		}
	}
}

#projects {
	padding-top: $section-spacing;
	padding-bottom: $section-spacing;

	p {
		padding: 0 30px;
	}

	.slick-dots {
		// Foundation messes with the centering of Slick
		margin-left: -15px;
	}
	.slick-prev:before, .slick-next:before { 
		color: $black !important;
	}
}

// http://benkaminski.com/2013/05/26/responsive-html5-css3-html5-video-background-in-div-no-javascript/amp/
// http://jsfiddle.net/mgmilcher/8R7Xx/sho/
#future {
	position: relative;
	height: 500px;

	.video-container {
		@include absolute;

		video {
			height: 100%;
			display: none;
		}

		.filter {
			@include absolute;
			background: rgba(0, 0, 0, 0.3);
		}
	}

	.text-container {
		@include absolute;
		font-size: 1.4em;

		.row {
			max-width: 889px;
			margin: 0 auto;

			@include vert-center;

			p {
				padding-left: 20px;
				padding-right: 20px;
				text-shadow: black 1px 1px 1px;
			}
		}
	}

}

#skills {
	padding-top: $section-spacing;
	padding-bottom: $section-spacing;

	.modal {
		border-top: 1px solid black;
		border-bottom: 1px solid black;
		padding: 50px 0px;
		box-sizing: border-box;
		color: $black;

		&.middle {
			border: none;
		}

		i {
			font-size: 3em;
			margin-bottom: 10px;
		}

		&:hover {
			background-color: $black;
			color: $highlight;
		}
	}

	.reveal {
		color: $white;
		padding: 60px 60px;

		.close-button {
			span {
				font-size: 2.25em;
				line-height: 15px;
			}

			position: absolute;
			top: 0;
			right: 0;
			color: $white;
			padding-right: 15px;
			padding-top: 15px;

			&:hover {
				color: $highlight;
			}
		}

		h3 {
			margin-bottom: 20px;
		}

		li {
			font-size: 1.1em;
		}
	}
}

#contact {
	padding-bottom: $section-spacing-large;
	padding-top: $section-spacing;
	
	h3 {
		letter-spacing: 2px;
		text-transform: uppercase;
		color: $highlight;
	}

	i {
		margin-top: 60px;
		font-size: 5em;
		color: $white;
		&:hover {
			color: $highlight;
		}
	}
}

@media (min-width: 640px) {
	#future .video-container video {
			display: initial;
	}

	#skills {
		.modal {
			border: 1px solid black;

			&.middle {
				border-top: 1px solid black;
				border-bottom: 1px solid black;
				border-left: none;
				border-right: none;
			}
		}
	}
}