// Insert your mixins
@mixin vert-center {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

@mixin bgimg($path) {
	background-image: url($path);
	background-size: cover;
	background-position-x: center;
	background-attachment: fixed;
}

@mixin absolute {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}