// Insert your mixins
@mixin vert-center {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

@mixin bgimg($path) {
	background-image: url($path);
	background-size: cover;
	background-position-x: center;
	background-attachment: fixed;
}

@mixin absolute {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

@mixin transition {
	-webkit-transition: all 0.25s ease-in-out;
	-moz-transition: all 0.25s ease-in-out;
	-o-transition: all 0.25s ease-in-out;
	transition: all 0.25s ease-in-out;
}