// Insert your variables
$body-sans: 'Oswald', sans-serif;
$title-sans: 'Open Sans Condensed', sans-serif;
$highlight: #FEE855;
$black: #191919;
$white: #f6f6f6;
$section-spacing: 100px;
$section-spacing-large: 150px;
