// Insert your variables
$serif: 'Oswald', sans-serif;
$sans: 'Open Sans Condensed', sans-serif;
// $highlight: #da2021;
$highlight: #FEE855;
// $black: #0a0a0a;
// $white: #fefefe;
$black: #191919;
$white: #f6f6f6;
